*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.fundo{
    height: 200vh;
    width: 100vw;
    background-color: #E4E4E4;
    padding-top: 20px;
}
.conteudo{
    width: 95%;
    height: 100%;
    background-color: aquamarine;
}
.nav{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.logo{
    align-self: flex-start;
}