* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;

  background-image: url("assets/Tela Login/Fundo 2.png");

  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}

.painelpag4 {
  background-color: white;
  position: absolute;
  height: 700px;
  bottom: 100px;
  left: 600px;
  transform: translateX(50%);
  width: 800px;
  border-radius: 30px;

  display: flex;

  justify-content: flex-end;
  align-items: center;

  padding-right: 60px;

  

}
.escreve2 {
  display: flex;
  flex-direction: column;
}
.escreve2 label {
  
  right: 10px;
  display: flex;
  font-family: "Jockey One", sans-serif;
  color: #1331a1;
  font-size: 30px;
  margin: 10px;
}
.escreve2 input[type="text"],
.escreve2 input[type="password"] {
  width: 500px;
 
  padding-left: 10px;
  font-size: 25px;
  font-style: bold;
  font-family: "Jockey One", sans-serif;
  border: 1px solid #1331a1;
  border-radius: 10px;

  margin-bottom: 18px;

  background-color: #f0f4f8;
}


input::placeholder {
  color: black;
  

}

.logo img {
  position: relative;
  bottom: -200px;
  right: 100px;
  width: 400px;
}
a {
  position: relative;
  top: 5px;
  right: 30px;
  color: black;
  font-family: "Jockey One", sans-serif;
  font-size: 26px;
  text-decoration: none;
  align-self: flex-end;
}

button {
  width: 20%;
  padding: 10px;
  background: #1331a1;
  color: white;
  align-self: flex-end;
  border: none;
  border-radius: 18px;
  margin: 25px;
  font-size: 20px;
  font-family: "Jockey One", sans-serif;
  cursor: pointer;
}

button:active {
  background-color: white;
}

hr {
  width: 80%;
  border: none;
  border-top: 3px solid #f0f0f0;
  margin: 40px 0;
  align-self: flex-end;
}