*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jockey One", sans-serif;
    font-weight: 400;
    color: #1331A1;
}

.bg{
    width: 100vw;
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.bg::before{
    content: "";
    background-image: url(../TelaLogin/Fundo\ 3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    filter: blur(5px);
    position:absolute;
}
.formulario{
    width:25vw ;
    height:80%;
    background-color: white;
    border-radius: 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 5px 10px rgb(5, 5, 5);
    position: relative;
    
}
.header{
    display: flex;
    flex-direction: column;
    height: 30%;
    justify-content: flex-start;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.formulario-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 30px;
}
.grupo-input{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 6px;
}
.grupo-input label{
    font-weight: bold;
    font-size: 1.25em;
}
.grupo-input input{
    width: 100%;
    padding: 10px 12px;
    border: 2px solid #1331A1;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
}

.input-senha{
    position: relative;
    display: flex;
    align-items: center;
}

.input-senha input{
    width: 100%;
}
.icone-olho{
    position: absolute;
    right: 12px;
    width: 20px;
    cursor: pointer;
}
.entrar{
    background-color: #1331A1;
    color: #fff;
    border: none;
    padding: 14px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 20px;
    align-self: center;
    width: 60%;
}
.linha{
    width: 70%;
    height: 3px;
    background-color: #dfdfdf;
    border-radius: 15PX;
    margin-bottom: 20px;
}
.esqueceu h3{
    color:black
}
.rodape{
    margin-top: 20px;
    display: flex;
    gap: 15px;
    width: 70%;
    flex-direction: column;
    align-items: center;
}