*{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
    font-family: "Jockey One"
}
body{
    background-color: white;
}

main{
    position: relative;
    min-height: 100vh;
}

.fundo{
    display: block;
    object-fit: cover;
  height: 100vh;
  max-width: 100vw;
  filter: blur(18px);
  opacity: 75%;
}
.login{
position: absolute;
z-index: 1;
height: 50vh;
width: 45vw;
background-color: #ffffff;
}
.esq{
    width: 40%;
    height: 100%;
    background: linear-gradient( to bottom,#F31366, #BC0C4D);
    color: white;
    gap:20px;
}
.logo{
    max-width: 65%;
}
.dir{
    width: 60%;
    height: 100%;
}
.formulario{
    height: 100%;
    width: 60%;
    padding-top: 15%;
    gap:20px;
}
.entrar{
    background-color: #1331A1;
    width: 35%;
}
.rodape{
    height: 40%;
    gap: 10px
    ;
}
.linha{
    width: 100%;
    height: 3%;
    background-color: #F2F2F2;
    margin-top: 10px;
}