*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #1331A1;
}
.bg{
    width: 100vw;
    height: 100vh;
    background-image: url(../TelaLogin/Fundo\ 3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}