*{
     margin: 0;
   padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    background-color: white;
    font-family: "Jockey One", Arial, Helvetica, sans-serif;
}
.fundo{
    opacity: 75%;
    filter: blur(15px);
    position:absolute;
    z-index: -1;
    display: block;
    width: 100vw;
    height: 100vh;
}
.login{
    position: absolute;
    display: flex;
    height: 60%;
    width: 50%;
    z-index: 1;
}
.esq,.dir{
    height: 100%;
}

.esq{
    font-size: 1.5em;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, #F31366, #BC0C4D);
    color: white;
}
.logo{
    
    width: 60%;
    margin-bottom: 15px;
}
.dir{
    color: #1331A1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width:60%;
    background-color: white;
    border-radius:0 30px 30px 0;
    padding-top: 15%
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 50%;
}
.grupo-input{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.input-senha{
    position: relative;
}
.olho{
    position: absolute;
    right:5px ;
    top:8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.grupo-input input{
    width: 100% ;
    border-radius: 5px;
    outline: none;
    padding: 0.5em;
    border: 2px solid #1331A1;
}
.grupo-input label{
    font-size: 1.5em;
}
.grupo-input input:user-valid{
    border: 2px solid green
}
.grupo-input input:user-invalid{
    border: 2px solid red
}
.rodape{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.linha{
    width: 100%;
    border-radius: 20px;
    height: 3px;
    background-color: #e7e7e7;
}
.entrar{
    width: 50%;
    color: white;
    font-size: 1em;
    padding: 10px;
    background-color: #1331A1;
    border-radius: 20px;
    outline: none;
    border:none;
}
.entrar:hover{
    background-color: #1379a1;
}