*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
}
/* div{
    position:absolute;  
} */

.contaner_main {
    display: flex;
    flex-direction: row-reverse;    
}

.dir{
    background-image: url(../TelaLogin/samuel-regan-asante-J63ln0EZgtg-unsplash\ 1.svg);
    width: 50vw;
    height: 100vh;
    right:0;
    background-repeat: no-repeat;
    background-size: cover;
}
.esq{
    display: flex;
    background-color: #f3f3f3; 
    width:50vw;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    height:60%;
    width:30%;
    border-color: #1331A1;
    border-style: solid;
    border-width: 6px;
}
.logo{

}